video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}
body{
    background-color: black;
}
select{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Permanent Marker', cursive;
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    padding-left: 50px;
    color: rgba(135, 61, 12, 1.0);
    border: 5px rgba(135, 61, 12, 1.0) inset;
}
select:hover{
    border: 5px rgba(255, 232, 124, 1.0) inset;
    color: rgba(255, 232, 124, 1.0);
}
option{
    text-align: center;
    background-color: rgba(160, 103, 72, 1.0);
    color: rgba(0, 0, 0, 1.0);
    border: 5px rgba(0, 0, 0, 1.0) inset;
}
option:active{
    text-decoration: none;
    background: black;
}
.season{
    color: red;
}
.auswahl{
    position: fixed;
    width: 97%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}
option:focus{
	background-color: black;
}