* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: black;
}
@keyframes fadeout {
    from {opacity: 1;}
    to{opacity: 0;}
}
.percent-count{
    width: 450px;
    height: 50px;
    margin: 100px auto;
    font-size 50px; 
    text-align: center;
    color: white;
}
.progress-bar{
    width: 506px;
    height: 26px;
    background-color: #bbb;
    border-radius: 13px;
    margin: 50px auto;
    padding: 3px;
}
.progress {
    width: 25px;
    height: 20px;
    border-radius: 10px;
    background-color: aqua; 
}